html {
    font-family: Courier New, Courier, monospace;
    color: #212121;
  }

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#slide-out a,li{
  font-weight: 900;
  font-size: 1.5rem;
}
#slide-out .disable{
  cursor: default;
  color: gray;
  background-color: darkgray;
}

main h2{
  font-weight: bold;
}

.logo{
  padding: 1rem; 
  width: 65%;
}

